    <div class="hero-component">
      <div class="wrapper dark">
        <img src="../images/hero-placeholder.png" class="placeholder" alt="">
        <div class="container">
          <div class="content w-container">
            <h1>Our thoughts are with those impacted by the California wildfires</h1>
            <h2>We appreciate your patience as we continue working to assess damage and restore outages.</h2>
            <h3>Your safety remains our first priority.</h3>
          </div>
        </div>
      </div>
    </div>
