<main class="home">
    <div class="hero-component">
        <div class="wrapper dark">
            <img alt="" src="~/media/775DE0D23A1F404DB0E05DD6EBF82EBC.ashx" class="placeholder">
            <!-- <img src="../images/hero-placeholder.png" class="placeholder" alt=""> -->
            <div class="container">
                <div class="content w-container">
                    <h1>Nuestros pensamientos est&aacute;n con todos aquellos afectados por los fuegos en California. </h1>
                    <h2>Agradecemos tu paciencia mientras continuamos trabajando en la  evaluaci&oacute;n de da&ntilde;os y el restablecimiento de servicios.</h2>
                    <h3>Nuestra prioridad es tu seguridad.</h3>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-frontier hidden-xs" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <!-- <li><a target="_self" href="#phones">Phone Numbers</a></li> -->
                <li><a target="_self" href="#helpful">Enlaces &uacute;tiles</a></li>
                <li><a target="_self" href="#mapshelter">&Aacute;reas afectadas</a></li>
                <li><a target="_self" href="#social">Redes sociales</a></li>
                <li><a target="_self" href="#agencies">Agencias federales</a></li>
                <!--  <li><a target="_self" href="#donate">Donate</a></li> -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <section class="call-bar" id="phones">
        <div class="fx">
            <div class="fx-phone">
                <!-- <img src="../images/red-phone-icon-2.png"> -->
                <img alt="" src="~/media/F74E138366194BBCA2DF044172A59F1B.ashx">
                <a href="tel:18009218101">1.800.921.8101 </a>
            </div>
        </div>
    </section>



    <section class="d-bg helpful-links">
        <div class="container">
            <h3 id="helpful">Enlaces &uacute;tiles</h3>
            <div class="row">
                <div class="col-sm-6">
                    <ul>
                        <li><a target="_blank" href="https://frontier.com/helpcenter/categories/phone/troubleshooting/power-supply-problems">Mant&eacute;n tu servicio telef&oacute;nico durante un apag&oacute;n el&eacute;ctrico</a></li>
                        <li><a target="_blank" href="https://frontier.com/helpcenter/categories/internet/troubleshooting/service-status">Obt&eacute;n informaci&oacute;n actualizada del servicio en las redes sociales de Frontier</a></li>
                        <li><a target="_blank" href="https://frontier.com/helpcenter/categories/phone/calling-features/call-forwarding-residential/features/call-forward">Desv&iacute;a tus llamadas hac&iacute;a tu tel&eacute;fono m&oacute;vil</a></li>
                        <li><a target="_blank" href="https://frontier.com/helpcenter/categories/phone/voicemail/access-by-phone-residential">Accede a tu buz&oacute;n de voz por tel&eacute;fono</a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li><a target="_blank" href="https://frontier.com/helpcenter/categories/account/manage-my-account/make-account-changes">Suspende tu servicio de Frontier mientras est&aacute;s fuera de la casa</a></li>
                        <li><a target="_blank" href="https://frontier.com/helpcenter/categories/account/read-and-pay-my-bill/pay-my-bill/to-pay-online/sign-up-for-auto-pay">Configura la opci&oacute;n de pago autom&aacute;tico (Auto-pay)  para tu conveniencia</a></li>
                        <li><a target="_blank" href="https://frontier.com/contact-us#/residential">Comun&iacute;cate con nosotros si tus servicios no est&aacute;n funcionando</a></li>
                        <li><a target="_blank" href="https://frontier.com/helpcenter/categories/account/manage-my-account/myfrontier-app/get-started/my-profile">Tu  FrontierApp te ayudar&aacute; a administrar tu cuenta</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="red-bar"></div>

    <section class="l-bg g-map">
        <h3 id="mapshelter">&Aacute;reas afectadas</h3>
        <iframe width="400" height="400" src="https://google.org/crisismap/google.com/2017-tubbs-fire?hl=en&llbox=42.264%2C37.487%2C-114.186%2C-128.04&t=TERRAIN&layers=2%2C16%2C17%2C1340721553875%2C5%2C10%3A100%2C11%3A100%2C13%3A100%2C12%3A100%2C1%2C1340722113768&embedded=true"
            style="border: 1px solid #ccc"></iframe>

    </section>

    <section class=" d-bg social-media bg-section">
        <div class="container">
            <h3 id="social">S&iacute;guenos en las redes sociales para que te mantengas informado</h3>
            <div class="row">
                <div class="col-sm-12 col-md-4 clearfix mb-20">
                    <span class="social-icons-ftr">
                      <a id="ecomm-rv-footer-link-Twitter" href="https://twitter.com/FrontierCorp" class="smi smi-twitter" target="_blank"><em class="fci-social-twitter" title="Twitter" id="ecomm-rv-footer-social-icon-Twitter"></em></a>
                    </span>
                    <span class="social-icons-ftr">
                      <a id="ecomm-rv-footer-link-Facebook" href="https://www.facebook.com/FrontierCorp" class="smi smi-facebook" target="_blank"><em class="fci-social-facebook" title="Facebook" id="ecomm-rv-footer-social-icon-Facebook"></em></a>
                    </span>
                    <span class="social-icons-ftr">
                      <a id="ecomm-rv-footer-link-Linkedin" href="https://www.linkedin.com/company/frontier-communications" class="smi smi-linkedin" target="_blank"><em class="fci-social-linkedin" title="Linkedin" id="ecomm-rv-footer-social-icon-Linkedin"></em></a>
                    </span>
                    <span class="social-icons-ftr">
                      <a id="ecomm-rv-footer-link-YouTube" href="https://www.youtube.com/user/FrontierCorp " class="smi smi-youtube" target="_blank"><em class="fci-social-youtube" title="YouTube" id="ecomm-rv-footer-social-icon-YouTube"></em></a>
                    </span>
                    <span class="social-icons-ftr">
                      <a id="ecomm-rv-footer-link-Google+" href="https://plus.google.com/+FrontierCorp/posts" class="smi smi-googleplus" target="_blank"><em class="fci-social-googleplus" title="Google+" id="ecomm-rv-footer-social-icon-Google+"></em></a>
                    </span>
                </div>

                <div class="col-sm-12 col-md-8">
                    <div class="social-container">
                        <a class="twitter-timeline" href="https://twitter.com/askfrontier">Tweets por askfrontier</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="res-iconbox-panel iconbox-panel national content vertical-align">
        <div class="container icon-boxes">
            <h3 id="agencies">Agencias federales</h3>

            <div class="col-sm-4 col-xs-12 contactbar">
                <div class="icon-box well text-center icon-box-phone-link">
                    <div class="complex-wrapper icon-wrapper">
                        <a href="https://www.fema.gov/" target="_blank"><img alt="" class="img-responsive" src="~/media/0AC47F00E1F74BF99CC6B19858E84EE3.ashx"></a>
                    </div>
                    <div class="title">
                        <a href="https://www.fema.gov/" target="_blank" style="text-decoration: none;">FEMA</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-xs-12 contactbar">
                <div class="icon-box well text-center icon-box-phone-link">
                    <div class="complex-wrapper icon-wrapper">
                        <a href="https://www.disasterassistance.gov/" target="_blank ">
                          <img alt=" " class="img-responsive" src="~/media/942FFD0F4B99453A897B4771075EC173.ashx">
                        </a>
                    </div>
                    <div class="title ">
                        <a href="https://www.disasterassistance.gov/ " target="_blank " style="text-decoration: none; ">Disaster Assistance </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 contactbar ">
                <div class="icon-box well text-center icon-box-phone-link ">
                    <div class="complex-wrapper icon-wrapper ">
                        <a href="http://www.redcross.org/about-us/our-work/disaster-relief/wildfire-relief " target="_blank ">
                          <img alt=" " class="img-responsive " src="~/media/6BB83DC9D8D74775BB7FAA6000863CB3.ashx ">
                        </a>
                    </div>
                    <div class="title ">
                        <a href="http://www.redcross.org/about-us/our-work/disaster-relief/wildfire-relief " target="_blank " style="text-decoration: none; ">American Red Cross</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
