<main class="home">
  ${require('./hero-banner.html')}

  <nav class="navbar navbar-default navbar-frontier hidden-xs" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <!-- <li><a target="_self" href="#phones">Phone Numbers</a></li> -->
        <li><a target="_self" href="#helpful">Helpful links</a></li>
        <li><a target="_self" href="#mapshelter">Impacted Areas</a></li>
        <li><a target="_self" href="#social">Social Media</a></li>
        <li><a target="_self" href="#agencies">Federal Agencies</a></li>
        <!-- <li><a href="#agencies">Federal Agencies</a></li>
        <li><a href="#donate">Donate</a></li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
  <section class="call-bar" id="phones" >
     <div class="fx">
         <div class="fx-phone">
              <img src="../images/red-phone-icon-2.png">
             <a href="tel:18009218101">1.800.921.8101 </a>
         </div>
     </div>
 </section>

    <!-- <section  class="res-iconbox-panel iconbox-panel content post vertical-align">
        <div class="container icon-boxes">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-4 col-md-4 contactbar">
                <div class="icon-box well text-center icon-box-phone-link">
                    <div class="complex-wrapper icon-wrapper">
                        <a href="tel:18009218101">
                            <span class="fa-stack fa-colorwhite">
                                <i class="fa fa-phone custom-icon icon-increase-padding-3 " style="background-color:#d9272d"></i>
                            </span>
                        </a>
                    </div>
                    <div class="title">
                        English: <br>
                        <a href="tel:18009218101" style="text-decoration: none; cursor: default;">1.800.921.8101</a>
                        <br>
                    </div>
                </div>
            </div>

             <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-0 col-md-4 contactbar">
                <div class="icon-box well text-center icon-box-phone-link">
                    <div class="complex-wrapper icon-wrapper">
                        <a href="tel:1.800.921.8103">
                            <span class="fa-stack fa-colorwhite">
                                <i class="fa fa-phone custom-icon icon-increase-padding-3 " style="background-color:#d9272d"></i>
                            </span>
                        </a>
                    </div>
                    <div class="title">
                        Español: <br>
                        <a href="tel:1.800.921.8103" style="text-decoration: none; cursor: default;">1.800.921.8103</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section> -->


    <div class="red-bar"></div>

    <section class="d-bg helpful-links">
        <div class="container">
           <h3 id="helpful">Helpful links</h3>
            <div class="row">
                <div class="col-sm-6">
                    <ul>
                        <li><a target="_blank" href="https://frontier.com/helpcenter/categories/phone/troubleshooting/power-supply-problems">Maintain your phone service during a power outage</a></li>
                        <li><a target="_blank" href="https://frontier.com/helpcenter/categories/internet/troubleshooting/service-status">Get service updates from Frontier on social media</a></li>
                        <li><a target="_blank" href="https://frontier.com/helpcenter/categories/phone/calling-features/call-forwarding-residential/features/call-forward">Forward your calls to your cell phone</a></li>
                        <li><a target="_blank" href="https://frontier.com/helpcenter/categories/phone/voicemail/access-by-phone-residential">Access your voicemail by phone</a></li>
                        <!-- <li><a target="_blank" href="http://www.redcross.org/news/article/20-Red-Cross-Safety-Steps-for-Returning-Home-After-the-Flood?mkt_tok=eyJpIjoiWWpNMFl6SmtPRGsxTnpFMiIsInQiOiIxZzBZQ0lcLzY0Z0tyelI5dklqaTJIXC9PNng3Ykh3bGFiM1JQOXM1OGVYXC9na0VVWDFLQlRYTGFmXC9uYU1ZaDhuZlJuUllDSjh6Y0tDOUpLSEd3WjY4SFE9PSJ9">Returning Home Safely – what you need to know</a></li> -->
                    </ul>
                </div>
                <div class="col-sm-6">
                   <ul>
                        <li><a target="_blank" href="https://frontier.com/helpcenter/categories/account/manage-my-account/make-account-changes">Suspend your Frontier service while you’re away from home</a></li>
                        <li><a target="_blank" href="https://frontier.com/helpcenter/categories/account/read-and-pay-my-bill/pay-my-bill/to-pay-online/sign-up-for-auto-pay">Set up auto pay for your convenience</a></li>
                        <li><a target="_blank" href="https://frontier.com/contact-us#/residential">Contact us if your services are not working</a></li>
                        <!-- <li><a target="_blank" href="http://investor.frontier.com/releases.cfm">Latest Press Releases from Frontier Communications</a></li> -->
                        <li><a target="_blank" href="https://frontier.com/helpcenter/categories/account/manage-my-account/myfrontier-app/get-started/my-profile">My Frontier Mobile App helps you manage your account on the</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="l-bg g-map">
        <h3 id="mapshelter">Impacted Areas</h3>
        <iframe width="400" height="400" src="https://google.org/crisismap/google.com/2017-tubbs-fire?llbox=39.494%2C36.221%2C-114.702%2C-124.134&t=TERRAIN&layers=2%2C16%2C17%2C1340721553875%2C5%2C10%2C11%2C13%2C12&embedded=true" style="border: 1px solid #ccc"></iframe>

    </section>

    <section class=" d-bg social-media bg-section">
      <div class="container">
          <h3 id="social">Follow us on Social Media for updates</h3>
          <div class="row">
            <div class="col-sm-12 col-md-4 clearfix mb-20">
              <span class="social-icons-ftr">
                <a id="ecomm-rv-footer-link-Twitter" href="https://twitter.com/FrontierCorp" class="smi smi-twitter" target="_blank"><i class="fci-social-twitter" title="Twitter" id="ecomm-rv-footer-social-icon-Twitter"></i></a>
              </span>
              <span class="social-icons-ftr">
                <a id="ecomm-rv-footer-link-Facebook" href="https://www.facebook.com/FrontierCorp" class="smi smi-facebook" target="_blank"><i class="fci-social-facebook" title="Facebook" id="ecomm-rv-footer-social-icon-Facebook"></i></a>
              </span>
              <span class="social-icons-ftr">
                <a id="ecomm-rv-footer-link-Linkedin" href="https://www.linkedin.com/company/frontier-communications" class="smi smi-linkedin" target="_blank"><i class="fci-social-linkedin" title="Linkedin" id="ecomm-rv-footer-social-icon-Linkedin"></i></a>
              </span>
              <span class="social-icons-ftr">
                <a id="ecomm-rv-footer-link-YouTube" href="https://www.youtube.com/user/FrontierCorp " class="smi smi-youtube" target="_blank"><i class="fci-social-youtube" title="YouTube" id="ecomm-rv-footer-social-icon-YouTube"></i></a>
              </span>
              <span class="social-icons-ftr">
                <a id="ecomm-rv-footer-link-Google+" href="https://plus.google.com/+FrontierCorp/posts" class="smi smi-googleplus" target="_blank"><i class="fci-social-googleplus" title="Google+" id="ecomm-rv-footer-social-icon-Google+"></i></a>
              </span>
            </div>
              <div class="col-sm-12 col-md-8">
                <div class="social-container">
                  <a class="twitter-timeline" href="https://twitter.com/askfrontier">Tweets by askfrontier</a>
                </div>

              </div>
          </div>
      </div>

    </section>

    <section class="res-iconbox-panel iconbox-panel national content vertical-align">
        <div class="container icon-boxes">
           <h3 id="agencies">Federal Agencies Update</h3>


           <div class="col-sm-4 col-xs-12 contactbar">
               <div class="icon-box well text-center icon-box-phone-link">
                   <div class="complex-wrapper icon-wrapper">
                       <a href="https://www.fema.gov/" target="_blank"><img class="img-responsive" src="../images/fema-logo.png" alt=""></a>
                   </div>
                   <div class="title">
                       <a href="https://www.fema.gov/" target="_blank" style="text-decoration: none;">FEMA</a>
                   </div>
               </div>
           </div>
            <div class="col-sm-4 col-xs-12 contactbar">
                <div class="icon-box well text-center icon-box-phone-link">
                    <div class="complex-wrapper icon-wrapper">
                        <a href="https://www.disasterassistance.gov/" target="_blank"><img class="img-responsive" src="../images/DAIP.png" alt=""></a>
                    </div>
                    <div class="title">
                        <a href="https://www.disasterassistance.gov/" target="_blank" style="text-decoration: none;">Disaster Assistance </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 contactbar">
                <div class="icon-box well text-center icon-box-phone-link">
                    <div class="complex-wrapper icon-wrapper">
                        <a href="http://www.redcross.org/about-us/our-work/disaster-relief/wildfire-relief " target="_blank"><img class="img-responsive" src="../images/redcross.jpg" alt=""></a>
                    </div>
                    <div class="title">
                        <a href="http://www.redcross.org/about-us/our-work/disaster-relief/wildfire-relief " target="_blank" style="text-decoration: none;">American Red Cross</a>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- <section class="bg-section voice">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <img class=" img-responsive text-center m-auto " src="http://via.placeholder.com/650x350" alt="">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h3>Tell us what you want</h3>
                    <p>Do you talk to your Amazon dot, Echo or tap? Now you can ask Alexa to change your channels or search your guide. She’ll listen…and act.</p>
                </div>
            </div>
        </div>
    </section> -->


    <!-- <footer>
        <div class="copyright">
            <div class="container">
                <p class="text-center">© 2017 Frontier Communications Corporation. All rights reserved.</p>
            </div>
        </div>
    </footer> -->

</main>
